@media screen and (max-width:1000px) {

    button {
        width: 80vw;
    }

    .foreground {
        top: 100px;
        width: 120%;
    }

    .col-left, .col-right {
        float: left;
        text-align: center;
        width: 80vw;
    }

    .logo {
        max-height: 60vw;
        max-width: 60vw;
    }
}