html {
    background-color: #000000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #000000; 
}
::-webkit-scrollbar-thumb {
    background: #06BEE1; 
}
::-webkit-scrollbar-thumb:hover {
    background: #F5F5F5;
}

nav {
    background: #000000;
    color: #F5F5F5;
	padding: 10px 12px;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100vw;
	z-index: 2;
}

section {
    padding: 14px 0px 96px 0px;
}

h1 {
    font-size: 52px;
}

p {
    font-size: 16px;
    line-height: 28px;
    padding: 12px;
    text-align: left;
}

button {
	background: #06BEE1;
    border: none;
	border-radius: 8px;
	color: #FFFFFF;
	display: inline-block;
    font-size: 16px;
	margin: 8px;
	padding: 8px 12px;
	text-align: center;
	transition: all .2s ease-in-out;
}
button:hover {
	transform: scale(1.1);
}
button:active {
	transform: scale(0.9);
}
.button-secondary {
	background: #F5F5F5;
	color: #000000;
}

.content-container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    align-items: center;
    display: flex;
    height: 80%;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}

.background, .foreground {
    object-fit: cover;
    position: absolute;
}

.background {
    height: 110%;
    transform: translateZ(-20px) scale(3);
    width: 110%;
}

.foreground {
    top: 40px;
    transform: translateZ(-5px) scale(1.5);
    width: 50%;
}

.row {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
}

.col-left {
    float: left;
    text-align: left;
    width: 40vw;
}

.col-right {
    float: right;
    text-align: right;
    width: 40vw;
}

.section-transition {
    aspect-ratio: 1000/100;
    margin: -1px 0px;
    position: relative;
	width: 100vw;
}

.flip {
	transform: rotate(180deg);
}

.bg-FFFFFF {
    background-color: #FFFFFF;
    color: #000000;
}

.bg-06BEE1 {
    background-color: #06BEE1;
    color: #FFFFFF;
}

.logo {
    max-height: 18vw;
    max-width: 18vw;
}

.bold {
    font-weight: bold;
    font-size: 22px;
}